<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
{{>navbar}}
<div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/hitesh3.png" alt="monster" class="img-fluid" title="Hitesh ">
                    </figure>
                </div>
                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h1>I am a <span class="text_clr">Web-Devloper, Java developer and Ethical Hacker</span> </h1>
                    <a href="https://github.com/hiteshwagh001" target="_blank "><button>About me</button></a>
                </div>
                
            </div>

        </div>
    </div>
</div>


<!-- footer -->
{{>footer}}

</body>

</html>